*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

input {
  outline: none;
  border: none;
  background: none;
}

html {
  font-size: calc(0.605vw + 0.705vh - 0rem);
}

.main {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 4rem;
}

.burger {
  width: 3.1rem;
  height: 1.7rem;
  cursor: pointer;
  cursor: pointer;
}

.burger:hover .burger__row {
  width: 2.3rem;
}

.burger:hover .burger__row--small {
  width: 3.1rem;
}

.burger__row {
  display: block;
  width: 3.1rem;
  height: 0.4rem;
  background: #FFFFFF;
  border-radius: 0.4rem;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.burger__row:not(:last-child) {
  margin-bottom: 0.2rem;
}

.burger__row--small {
  width: 2.3rem;
}

.logo {
  width: 6.67rem;
  height: 3rem;
}

.logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.logo a img {
  width: 100%;
  height: auto;
}

.title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 3.1rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title--small {
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  margin-bottom: 0.266rem;
}

.text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.link {
  display: block;
}

.link:hover span::after {
  width: 100%;
}

.link span {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  display: inline-block;
  position: relative;
}

.link span::after {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  content: '';
  position: absolute;
  display: block;
  width: 5.1rem;
  height: .2rem;
  background: #FFFFFF;
  bottom: -.4rem;
}

a {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.button-fixe {
  position: fixed;
  width: 14.4rem;
  height: 2.6rem;
  background: #FFFFFF;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  border: none;
  outline: none;
  padding: 2rem 0.6rem;
  left: 3.1rem;
  bottom: 2.4rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button-fixe__text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #8ADDEB;
}

.button-fixe svg {
  display: none;
}

.big-word {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-size: 14.4rem;
  line-height: 17.3rem;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.1;
  position: fixed;
  z-index: 10;
  bottom: 11.8rem;
}

.link-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
}

.link-down__fleche {
  width: 3.1rem;
  height: 0.25rem;
  background: rgba(255, 255, 255, 0.7);
  margin-top: .2rem;
  margin-left: -1rem;
  position: relative;
}

.link-down__fleche::after {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.7);
  width: 1rem;
  height: 0.15rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 2.2rem;
  top: -0.3rem;
}

.link-down__fleche::before {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.7);
  width: 1rem;
  height: 0.15rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 2.2rem;
  top: 0.4rem;
}

.link-down__link {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: unset !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: #82d6f0 -300px -300px 300px -120px inset;
          box-shadow: #82d6f0 -300px -300px 300px -120px inset;
  background: #83caf2;
}

.wrapper-container {
  z-index: 20;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: calc(0.505vw + 0.905vh - 0.17rem);
  }
  .container {
    padding: 0 3.1rem;
  }
  .title {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
  .title--small {
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-bottom: 0.266rem;
  }
  .text {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FFFFFF;
  }
  .big-word {
    font-size: 7rem;
    bottom: 11.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 16.4rem;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 0 2rem;
  }
  .button-fixe {
    background: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 2.3rem;
  }
  .button-fixe__text {
    display: none;
  }
  .button-fixe svg {
    display: block;
  }
  .title {
    font-size: 2.0rem;
    line-height: 2.4rem;
  }
  .title--small {
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-bottom: 0.266rem;
  }
  .big-word {
    font-size: 5rem;
    bottom: 11.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 1.6rem;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  margin-bottom: 1.6rem;
}

.header__tel {
  display: none;
}

.header__tel a {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
  text-decoration: none;
}

.header__tel--desktop {
  display: block;
}

.header__tel--desktop a {
  font-size: 1.4rem;
  line-height: 1.7rem;
}

@media screen and (max-width: 1023px) {
  .header__tel {
    display: block;
  }
  .header__tel--desktop {
    display: none;
  }
}

.our-work {
  width: 100%;
  padding-top: 8.3rem;
}

.our-work__container {
  padding-left: 18.4rem;
}

.our-work__content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-work__row {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.our-work__title {
  margin-bottom: 1.6rem;
}

.our-work__text {
  margin-bottom: 3.2rem;
}

.our-work__skill {
  width: 23rem;
  height: 6.6rem;
  margin-bottom: 4.8rem;
}

.our-work__link {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.our-work__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.our-work__body {
  width: 34.4rem;
  min-height: 27.1rem;
}

.our-work__img {
  width: 34.7rem;
  height: 36.8rem;
}

.our-work__img img {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .our-work {
    padding-top: 12.4rem;
  }
  .our-work__container {
    padding-left: 0;
  }
  .our-work__row {
    max-width: 44.4rem;
    margin: auto;
    gap: 6.6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-work__img {
    max-width: 30.4rem;
    height: 32.3rem;
    margin: auto;
  }
  .our-work__img img {
    width: auto;
    height: 100%;
  }
  .our-work__title {
    margin-bottom: 3.2rem;
    text-align: center;
  }
  .our-work__text {
    margin-bottom: 2.4rem;
    text-align: center;
  }
  .our-work__skill {
    margin: auto;
    margin-bottom: 3.2rem;
  }
  .our-work__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 668px) {
  .our-work {
    padding-top: 8rem;
  }
  .our-work__row {
    max-width: 28.0rem;
    gap: 5.8rem;
  }
  .our-work__title {
    margin-bottom: 2.4rem;
  }
  .our-work__text {
    margin-bottom: 3.6rem;
  }
  .our-work__skill {
    margin-bottom: 3.6rem;
  }
  .our-work__body {
    width: 28rem;
    min-height: 33.6rem;
  }
}

.skill {
  width: 100%;
  padding-top: 8.8rem;
}

.skill__container {
  padding-left: 18.4rem;
}

.skill__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60.3rem;
  height: 19.8rem;
  gap: 7.5rem;
}

.skill__title {
  margin-bottom: 4.8rem;
}

.item-skill {
  width: 26.1rem;
}

.item-skill__title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.6rem;
}

.item-skill__list {
  counter-reset: list;
}

.item-skill__item {
  margin-bottom: 1.6rem;
  position: relative;
}

.item-skill__item::before {
  counter-increment: list;
  content: "0" counter(list);
  position: absolute;
  left: 0;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 2.24028rem;
  line-height: 2.7rem;
  /* identical to box height */
  color: #FFFFFF;
}

.item-skill__link {
  padding-left: 3.2rem;
}

@media screen and (max-width: 1024px) {
  .skill {
    padding-top: 32.9rem;
  }
  .skill__container {
    padding-left: 0;
  }
  .skill__content {
    max-width: 55.3rem;
    min-height: 24.9rem;
    gap: 6.4rem;
    margin: auto;
  }
  .skill__title {
    margin-bottom: 4.8rem;
    text-align: center;
  }
  .item-skill__title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .item-skill__item {
    margin-bottom: 1.6rem;
    position: relative;
  }
  .item-skill__item::before {
    counter-increment: list;
    content: "0" counter(list);
    position: absolute;
    left: 0;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    font-size: 2.24028rem;
    line-height: 2.7rem;
    /* identical to box height */
    color: #FFFFFF;
  }
  .item-skill__link span {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 668px) {
  .skill {
    padding-top: 32.9rem;
  }
  .skill__container {
    padding-left: 0;
  }
  .skill__title {
    margin-bottom: 4.8rem;
    text-align: center;
  }
  .skill__container-row {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 1;
    margin: 0 -2rem;
  }
  .skill__container-row::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .skill__content {
    gap: 3.2rem;
    margin: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    max-width: none;
    padding: 0 2rem 0 4rem;
  }
}

.with-us {
  width: 100%;
  padding-top: 6.4rem;
}

.with-us__container {
  padding-left: 18.4rem;
}

.with-us__title {
  margin-bottom: 2.4rem;
}

.with-us__text {
  max-width: 64.755rem;
  margin-bottom: 3.2rem;
}

.with-us__container-row {
  max-width: 73.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 20;
}

.with-us__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 0.8rem;
  position: relative;
  margin-bottom: 6.5rem;
}

.item-with-us {
  width: 23rem;
  display: inline-block;
  text-decoration: none;
}

.item-with-us:hover .item-with-us__bar {
  width: 17.2rem;
  height: .2rem;
}

.item-with-us:hover .item-with-us__img img {
  position: relative;
  margin-top: -1rem;
}

.item-with-us__img {
  width: 17.4rem;
  height: 16.5rem;
  margin: auto;
  margin-bottom: 2.6rem;
}

.item-with-us__img img {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 100%;
  height: auto;
}

.item-with-us__title {
  text-align: center;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0.4rem;
}

.item-with-us__bar {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 17.2rem;
  height: .2rem;
  width: 3.9rem;
  height: .1rem;
  border: none;
  outline: none;
  background: #FFFFFF;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .with-us {
    padding-top: 22.9rem;
  }
  .with-us__container {
    padding-left: 0;
  }
  .with-us__title {
    text-align: center;
  }
  .with-us__text {
    max-width: 40.0rem;
    min-height: 5.4rem;
    margin: 0 auto 4.8rem;
    text-align: center;
  }
  .with-us__title--small {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  .with-us__container-row {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 20;
  }
  .item-with-us {
    max-width: 20.6rem;
  }
  .item-with-us__img {
    max-width: 19.3rem;
    height: 21.1rem;
    margin: auto;
    margin-bottom: 2.6rem;
  }
  .item-with-us__img img {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
    height: auto;
    margin-bottom: .4rem;
  }
  .item-with-us__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width: 668px) {
  .with-us {
    padding-top: 4.8rem;
  }
  .with-us__title {
    text-align: center;
  }
  .with-us__text {
    max-width: 28.0rem;
    min-height: 9rem;
    margin: 0 auto 2.4rem;
    text-align: center;
  }
  .with-us__title--small {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  .with-us__container-row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 20;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 5.7rem;
  }
  .with-us__container-row::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .with-us__row {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 42.8rem;
    max-width: none;
    padding: 0 2rem 0 2rem;
  }
  .item-with-us {
    max-width: 20.6rem;
  }
  .item-with-us__img {
    max-width: 19.3rem;
    height: 21.1rem;
    margin: auto;
    margin-bottom: 2.6rem;
  }
  .item-with-us__img img {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
    height: auto;
    margin-bottom: .4rem;
  }
  .item-with-us__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 0.4rem;
  }
}

.cases {
  width: 100%;
  padding-top: 6.4rem;
}

.cases__container {
  padding-left: 18.4rem;
}

.cases__title {
  margin-bottom: 1.6em;
}

.cases__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cases__link {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: right;
  color: #FFFFFF;
}

.item-first-cases {
  width: 100%;
}

.item-first-cases__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  border: 1px solid red;
}

.item-first-cases__img {
  max-width: 55.2rem;
  height: 38.6rem;
  position: absolute;
}

.item-first-cases__img img {
  width: auto;
  height: 100%;
}

.item-first-cases__body {
  border: 1px solid red;
  margin-left: auto;
  max-width: 27.4rem;
}

.item-first-cases__logo {
  width: 10.9rem;
  height: 3.4rem;
  margin-bottom: 0.9rem;
}

.item-first-cases__logo img {
  width: 100%;
  height: auto;
}

.item-first-cases__tags-container {
  margin-bottom: 2.4rem;
}

.item-first-cases__tag {
  text-decoration: none;
  font-family: 'Exo 2';
  font-style: italic;
  display: inline-block;
}

.item-first-cases__tag:not(:last-child) {
  margin-right: 1.6rem;
}

.item-first-cases__tag-point {
  display: inline-block;
  margin-right: .8rem;
  font-weight: 900;
  font-size: 1.0rem;
  line-height: 1.4rem;
}

.item-first-cases__tag-text {
  font-weight: 300;
  font-size: 1.0rem;
  line-height: 1.4rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.item-first-cases__title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.8em;
}

.item-first-cases__texts {
  margin-bottom: 1.4rem;
}

.item-first-cases__text {
  margin-bottom: 1.1rem;
}

.item-first-cases__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider-cases {
  width: 100%;
}

.slider-cases__item {
  min-width: 100%;
}

.writing {
  width: 100%;
  padding-top: 6.4rem;
}

.writing__container {
  padding-left: 18.4rem;
}

.writing__title {
  margin-bottom: 3.7rem;
}

.writing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19.1rem;
  position: relative;
}

.writing__items {
  margin-bottom: 5rem;
}

.writing__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.writing__mobile {
  display: none;
  gap: 4rem;
}

.writing__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.writing__wrapper-mobile {
  padding-left: 19.1rem;
}

.card-writing {
  font-family: 'Exo 2';
  font-style: normal;
  max-width: 31.28rem;
  min-height: 36.294rem;
}

.card-writing--big .card-writing__title {
  max-width: 27.9rem;
  min-height: 5.3rem;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #FFFF;
  margin-bottom: 0.7rem;
}

.card-writing--big .card-writing__date {
  margin-bottom: .9rem;
}

.card-writing--big .card-writing__date-text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.card-writing--big .card-writing__img {
  max-width: 49.8rem;
  height: 41.8rem;
  position: absolute;
  left: -9rem;
}

.card-writing--big .card-writing__img img {
  height: 100%;
  max-width: auto;
}

.card-writing__title {
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: .8rem;
}

.card-writing__date-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.card-writing__img {
  width: 25.356rem;
  height: 20.626rem;
}

.card-writing__img img {
  width: auto;
  height: 100%;
}

.item-writing {
  max-width: 32rem;
  min-height: 7rem;
  position: relative;
}

.item-writing::after {
  position: absolute;
  content: '';
  display: block;
  width: .1rem;
  height: 4.8rem;
  background: #FFFFFF;
  top: 0;
  left: -2.4rem;
}

.item-writing:not(:last-child) {
  margin-bottom: 1.6rem;
}

.item-writing__title {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
  margin-bottom: 0.4rem;
}

.item-writing__text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .writing {
    padding-top: 19.3rem;
  }
  .writing__body {
    display: none;
  }
  .writing__information {
    width: 100%;
  }
  .writing__desktop {
    display: none;
  }
  .writing__wrapper-mobile {
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 1;
  }
  .writing__wrapper-mobile::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .writing__mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    max-width: none;
  }
  .writing__container {
    padding-left: 0;
  }
  .writing__title {
    text-align: center;
  }
}

@media screen and (max-width: 668px) {
  .writing {
    padding-top: 8rem;
  }
  .writing__wrapper-mobile {
    padding-left: 3.6rem;
  }
  .writing__title {
    text-align: center;
  }
  .writing__mobile {
    gap: 1.7rem;
  }
  .card-writing {
    max-width: 24.867rem;
    min-height: 28.057rem;
  }
  .card-writing__title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
  .card-writing__date-text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .card-writing__img {
    max-width: 21.196rem;
    min-height: 13.861rem;
  }
  .card-writing__img img {
    width: auto;
    height: 100%;
  }
}

.contact {
  width: 100%;
  padding-top: 5rem;
}

.contact__container {
  padding-left: 18.4rem;
}

.contact__title {
  margin-bottom: 3.2rem;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__body {
  border: 1px solid red;
  height: 21.794rem;
}

.contact__img {
  width: 62.882rem;
  height: 50.671rem;
  position: relative;
  position: absolute;
  right: -2rem;
  top: 0;
  border: 1px solid red;
}

.contact__img img {
  width: auto;
  height: 100%;
}

.form {
  width: 25.6rem;
}

.form__item {
  max-width: 100%;
  min-height: 5rem;
}

.form__item:first-child {
  margin-bottom: 2.7rem;
}

.form__label {
  font-family: 'Ex2';
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}

.form__input {
  width: 100%;
  height: 2.2rem;
}

.form__input input {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  color: #FFFFFF;
}

.form input {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #fff;
}

.form__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.form__text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.0rem;
  line-height: 1.2rem;
  color: #FFFFFF;
  position: relative;
  margin-left: -.5rem;
  z-index: 10 !important;
}

.form__icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 5 !important;
}

.form__icon img {
  width: auto;
  height: 100%;
}

.form__submit {
  margin-bottom: 8.5rem;
}

.form__submit input {
  width: 12.908rem;
  height: 3.094rem;
  border: .0533399rem solid #FFFFFF;
  border-radius: 2.667px;
  cursor: pointer;
}

.data-contact {
  max-width: 29.3rem;
  height: 4.8rem;
}

.data-contact__item {
  width: 29.3rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-contact__item:not(:last-child) {
  margin-bottom: .4rem;
}

.data-contact__icon {
  width: 2.2rem;
  height: 2.2rem;
}

.data-contact__icon img {
  width: auto;
  height: 100%;
}

.data-contact__text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}

.end {
  width: 100%;
}

.end__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end__text {
  height: 2.7rem;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  font-size: 2.667rem;
  line-height: 2.7rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .end__text {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
}

@media screen and (max-width: 668px) {
  .end__text {
    max-width: 28.1rem;
    min-height: 4.8rem;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */