.cases{
    width: 100%;
    background: linear-gradient(256.95deg, #F6A0AF 8.56%, #FFBFD2 89.87%);
    &__container{
        min-height: 53.9rem;
        padding-left: 19.4rem;
     
    }
    
}