.comment-page{
    font-family: 'Exo 2';
    font-style: normal;
    width: 100%;
    padding-top: 8.1rem;
    &__container{
        padding-left: 18.4rem;
       
    }
    &__content{
        // border: 1px solid white;
    }
    &__title{
        margin-bottom: 5.1rem;
    }
    &__slider{
        height: 28.5rem;
      
        margin-bottom: 1rem;
        .slick-active{
            transition: all 300ms ease;
            opacity: .4;
            margin-left: 9.6rem;
        }
        .slick-current{
            opacity: 1;
            margin-left: unset;
        }
        .slick-prev:before {
            content: url(../../assets/img/Arrow.svg);
        }
        
        .slick-next:before{
            content: url(../assets/img/right.svg);
        }
        .slick-next{
            left: 5rem;
           
        }
        .slick-prev{
            left: 1rem;
            // border: 1px solid red;
           
        }
        .slick-arrow{
            right: auto;
            z-index: 10;
           top: 95%;
        }


    }
    
}

.item-comment-page{
    max-width: 38.4rem;
    // border: 1px solid red;
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    &__site-reference{
        margin-bottom: 1.9rem;
        a{
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-decoration: underline;
            
            color: #FFFFFF; 
        }
    }
    &__information{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
    }
    &__author{
        &-name{
            font-weight: 700;
            font-size: 2.0rem;
            line-height: 2.4rem;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 0.1rem;
        }
        &-function{
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: #FFFFFF;
        }
    }
    &__text{
        margin-bottom: 2rem;
    }
    &__read-more{
        max-width:11.5rem ;
        margin-bottom: 4rem;
     
    }
    &__feedback{
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-decoration: underline;
        color: #FFFFFF;
        
    }
}

@media screen and (max-width:1024px) {
    .comment-page{
        padding-top: 8.1rem;
        &__container{
            padding-left: 13.4rem;
           
        }
       
        &__title{
            margin-bottom: 3.2rem;
            text-align: center;
            font-weight: 900;
            font-size: 5.0rem;
            line-height: 6.2rem;
        }
        &__slider{
            &-container{
                width: 100rem;
                margin-left: 8rem;
            }
            height: 32.1rem;
            // border:1px solid white;
            .slick-dots li button:before{
                color: #FFFFFF;
                opacity: 0.5;
                font-size: 1rem;
              
            }
            .slick-dots{
                margin-left: -12rem;
            }
            .slick-dots .slick-active{
                margin-left: 0;
            }
            .slick-active{
                transition: all 300ms ease;
                margin-left: 4rem;
            }
            .slick-current{
                opacity: 1;
                margin-left: unset;
            }
            .slick-prev:before {
                content: url(../../assets/img/Arrow.svg);
            }
            
            .slick-next:before{
                content: url(../assets/img/right.svg);
            }
            .slick-next{
                left: 5rem;
               
            }
            .slick-prev{
                left: 1rem;
                // border: 1px solid red;
               
            }
            .slick-arrow{
                right: auto;
                z-index: 10;
               top: 47%;
            }
    
    
        }
        &__feedback{
            text-align: center;
            margin-left: -24rem;

            
        }
        
    }
    .item-comment-page{
        max-width: unset;
        &__header{
            display: flex;
            justify-content: space-between;
            margin-bottom: .6rem;
        }
        &__site-reference{
            margin-bottom: 3.2rem;
            a{
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
        &__information{
            margin-bottom: 1.6rem;
        }
        &__author{
            &-name{

            }
            &-function{
                font-size: 1.4rem;
                line-height: 1.8rem;

            }
        }
        &__text{
            margin-bottom: 3.2rem;
        }
        &__read-more{
            margin-bottom: 0rem;
         
        }
       
    }
    
}
@media screen and (max-width:668px) {
    .comment-page{
        padding-top:15.1rem;
        &__container{
            padding-left: 0;
           
        }
        &__content{
            width: 28rem;
            margin: auto;
        }
       
        &__title{
            margin-bottom: 2.4rem;
            font-size: 3.0rem;
            line-height: 3.4rem;
        }
        &__slider{
          
            width: 28rem;
            &-container{
                width: 0;
                margin-left: 0;
            }
    
            .slick-dots{
                margin-left: 0;
                bottom: -6rem;
              
            }
            
           
          
    
    
        }
        &__feedback{
            text-align: center;
            margin-left:0 ;
            width: 28rem;
            margin: auto;
            margin-top: 8rem;
            margin-bottom: 10rem;
            a{
                font-size: 1.6rem;
                line-height: 1.8rem;
                font-weight: 800;
            }

            
        }
        
    }
    .item-comment-page{
      
        &__header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            position: relative;
        }
        &__site-reference{
            display: none;
            margin-bottom: 3.2rem;
            a{
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
        &__information{
            margin-bottom: 1.6rem;
        }
        &__author{
            margin-bottom: 1.6rem;
            &-name{

            }
            &-function{
                display: none;
                font-size: 1.4rem;
                line-height: 1.8rem;

            }
        }
        &__text{
            width: 100%;
            margin-bottom: 1.6rem;
        }
        &__read-more{
            margin-bottom: 0rem;
         
        }
      
       
    }
    .navigation-comment{
        display: none;
    }
    
}