.skill{
    width: 100%;
    // background: linear-gradient(257.56deg, #4CD3E6 22.53%, #80E1EE 69.82%);
    padding-top: 8.8rem;
    &__container{
      
        padding-left: 18.2rem;
    }
    &__content{
        display: flex;
        width: 60.3rem;
        height: 19.8rem;
       
        gap: 7.5rem;

    }
    &__title{
        margin-bottom: 4.8rem;
    }
}

.item-skill{
    width: 26.1rem;
    // border:1px solid white;
    &__list{
        
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 2.0rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        color: #FFFFFF;
        
    }
    &__list{
        counter-reset: list;
    }
    &__item{
        margin-bottom:1.6rem ;
        position: relative;
        &::before{
            counter-increment: list;
            content: "0"counter(list);
            position: absolute;
            left: 0;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 300;
            font-size: 2.24028rem;
            line-height: 2.7rem;
            /* identical to box height */
            
            
            color: #FFFFFF;
        }
      
        
    }
    &__link{
        padding-left: 3.2rem;

    }
}