html{
    font-size: calc(0.605vw + 0.705vh - 0rem);
}

.main{
    overflow: hidden;
}


.container{
    width: 100%;
    padding: 0 4rem;
}
.burger{
    width: 3.1rem;
    height: 1.7rem;
    cursor: pointer;
    
    cursor: pointer;
    &:hover{
        .burger__row{
            width: 2.3rem;
            &--small{
                width: 3.1rem;
            }
        }
    }
    &__row{
        display: block;
        width: 3.1rem;
        height: 0.4rem;
        background: #FFFFFF;
        border-radius: 0.4rem;

        transition: all 600ms ease;
        &:not(:last-child){
            margin-bottom: 0.2rem;
        }

        &--small{
            width: 2.3rem;
        }
    }

}

.logo{
    width: 6.67rem;
    height: 3rem;
    a{
        display: inline-block;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height:auto;
        }
    }
}
.title{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 3.1rem;

    text-transform: uppercase;
    
    color: #FFFFFF;
    &--small{
        font-weight: 700;
        font-size: 2.0rem;
        line-height: 2.4rem;
        margin-bottom: 0.266rem;
    }
    
}
.text{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FFFFFF;
   
}

.link{
    display: block;
    &:hover{
        span{
            &::after{
                width: 100%;
            }
        }
    }
    span{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 2.0rem;
        line-height: 2.4rem;
        color: #FFFFFF;
        display: inline-block;
        position: relative;
        &::after{
            transition: all 500ms ease;
            content: '';
            position: absolute;
            display: block;
            width: 5.1rem;
            height: .2rem;
            background: #FFFFFF;
            bottom: -.4rem;
        }
    }
}
a{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    color: #FFFFFF;
    
}



.button-fixe{
    position: fixed;
    width: 14.4rem;
    height: 2.6rem;
    background: #FFFFFF;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: none;
    outline: none;
    padding: 2rem 0.6rem;
    left: 3.1rem;
    bottom: 2.4rem;
    cursor: pointer;
    transition:all 300ms ease;
    &__text{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 800;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #8ADDEB;
    }
    svg{
        display: none;
    }
}
.big-word{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    font-size: 14.4rem;
    line-height: 17.3rem;
    text-transform: uppercase;   
    color: #FFFFFF; 
    opacity: 0.1;
    position: fixed;
    z-index:10;
    bottom:11.8rem ;
    
   
}

.link-down{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    
    &__fleche{
        width: 3.1rem;
        height: 0.25rem;
        background: rgba(#FFFFFF,0.7);
        margin-top: .2rem;
        margin-left: -1rem;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background: rgba(#FFFFFF,0.7);
            width:1rem;
            height: 0.15rem;
            transform: rotate(45deg);
            left: 2.2rem;
            top: -0.3rem;
        }
        &::before{
            position: absolute;
            content: '';
            background: rgba(#FFFFFF,0.7);
            width:1rem;
            height: 0.15rem;
            transform: rotate(-45deg);
            left: 2.2rem;
            top: 0.4rem;
        }
    }
    &__link{
        position: relative;
        display: inline-block;
        z-index: 10;
    }
}

.fp-tableCell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset!important;
}


.background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: rgb(130, 214, 240) -300px -300px 300px -120px inset; 
    background: rgb(131, 202, 242);
}
.wrapper-container{
    z-index: 20;
    overflow: hidden;
}

 















@media screen and (max-width:1024px) {
    html{
        font-size: calc(0.505vw + 0.905vh - 0.17rem);
    }
    .container{
        padding: 0 3.1rem;
    }
    .title{
       
        font-size: 2.4rem;
        line-height: 3.1rem;
        
        &--small{
            font-weight: 700;
            font-size: 2.0rem;
            line-height: 2.4rem;
            margin-bottom: 0.266rem;
        }
        
    }
    .text{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #FFFFFF;
       
    }
    .big-word{
       
        font-size: 7rem;
        
        bottom:11.8rem ;
        left: 50%;
        transform: translateX(-50%);
        bottom: 16.4rem;
        
       
    }
    

}


@media screen and (max-width:668px) {
    html{
        font-size: 10px;
    }
    .container{
        padding: 0 2rem;
    } 

    .button-fixe{
      
        background: unset;
      
        justify-content: flex-start;
        align-items: center;
        left: 2.3rem;
        &__text{
            display: none;
        }
        svg{
            display: block;
        }
    }
    .title{
       
        font-size: 2.0rem;
        line-height: 2.4rem;
        
        &--small{
            font-weight: 700;
            font-size: 2.0rem;
            line-height: 2.4rem;
            margin-bottom: 0.266rem;
        }
        
    }
    .big-word{
       
        font-size: 5rem;
        
        bottom:11.8rem ;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        
       
    }


}
